* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #212121;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registrationform fieldset {
  padding: 20px;
}
